 body {
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	margin: 0;

 }
#mdialTamanio{
      width: 80% !important;
    }

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/
 img{ 
	max-width: 100%;
	height: auto;
 }
 a {
	color: #565252;
 }

 li {
	list-style: none;
 }

 footer {
	padding: 70px 0;
	color: white;
	background-color: #C86957;
	text-align: center;
 }

 .active {
  color: #C86957;  
 }

 .secciones {
	margin-top: 70px;
	margin-bottom: 70px;
 }

 .encabezados {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin: 70px 0;
	font-size: 36px;
 }

 .contenedores { 
	margin-bottom: 70px;
 }

 .button1 {
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;

 }

 .button2 {
	margin-bottom: 115px;
	background: transparent !important;
	border: 2px solid white;
	color: white;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
 }

 .button3 {
	margin: 10px 0 10px 0;
	background: transparent !important;
	border: 1px solid #C86957;
	color: #C86957;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 170px;
	height: 52px;
 }
  
 
/****************intro******************/

 .section1 {
	color: white;
	list-style: none;
 }
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-left: 10px;
	padding-right:15px;
 }
 a.nav-link:hover, a.nav-link:focus {
	color: #C86957;
 }

 #intro {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	padding: 0 0 50px 0;
	text-align: center;
 }
y 
 .nav {
	justify-content: flex-end;
 }

 .contentIntro {
	padding: 20px ;
 }
 .contentSect1 {
	margin-top: 100px;
 }

 .contentSect1 h1 {
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 300;
	 font-size: 46px;
 }

 .contentSect1 h5 {
	 font-family: 'Raleway', sans-serif;
	 font-weight: 400;
 }
 
 .articulo {
	margin-bottom: 30px;
 }

 .articulo2 {
	margin: 10px 0;
 }

/****************CAROUSEL******************/
 
 a.subtitulo1 {
	padding: 0 40px 50px 0 ;
	text-align: center;
	display: inline-block;
 }
 
 a.subtitulo1:hover {
 	text-decoration-line: none;
 	color: #C86957;

 }
 section.carousel {
 	background-color:#EBEBEB; 
 	padding: 50px 0;
 }
  .owl-theme .owl-nav.disabled+.owl-dots {
     margin-bottom: 50px ;
}

 .spacing {
	letter-spacing: 3px;
	color: white;
	font-size: 16px;
	font-weight: 500; 
	text-align: center;
	background: rgba(34, 34, 34, .5) !important;
	position: relative;
	padding: 15px;
	bottom: 150px;
	opacity: 1;
	align-items: center;
 }

 .carousel-item-description {
	position: relative;
	
 }

 .form-control {
	border: 1px solid #C86957;
	border-radius: unset;
 }

 .margin-text-top {
	margin-top: 20px;
	font-weight: 400;
	color: #999999;
 }

 .redesSociales {
	margin: 10px 10px 0 0; 
 }
 .espacio {
	letter-spacing: 3px;
 }
 div.bloque {
	text-align: left;
 }



 /****************  P R O D  U C T O S  ******************/

 .productos {
	text-transform: none;
    text-decoration: none;
    letter-spacing: 3px;
	color: white;
	font-size: 15px;
	font-weight: 500; 
	text-align: center;
	background: rgba(34, 34, 34, .5) !important;
	position: relative;
	padding: 15px;
	bottom: 150px;
	opacity: 1;
	align-items: center;
	display: list-item;
 }  
/*------------------------ Manteleria ------------------------*/
.portfolio-item-description {
 	color: #C86957;
 	font-size: 14px;

 }

 



/*------------------------ tablas Modales ------------------------*/
.seccionModal {
	margin-top: 20px;
	margin-bottom: 20px;
 }
.tabs.coloress li a {
	text-decoration:none;
	cursor:pointer
}

/* Tamanio que va a medir la caja de la foto*/
.faded ul.big-image li {
	max-width: 100%;
	height: auto;
	position: relative;
}

ul.pagination li  {
	display: inline-block;
	/*width: 139px;*/
	width: 142px;
}

.pagination {
	list-style:none;
	display: inline-block;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom: -7%;
	margin-left: -15px;
	margin-bottom: 0px;
	}


/*------------------------ Manteles ------------------------*/

.titulos {
 	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin: 25px 0;
	font-size: 32px; 
 }
 .coloress {
	padding:20px 10px 20px 0; 
 }
 .button4 {
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin-bottom: 35px;
	margin-left: 35px;
 }
 .button5 {
	background: #C86957;
	border: 2px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin-bottom: 35px;
	margin-left: 35px;
 }
  .button6 {
	margin-bottom: 115px;
	background: transparent !important;
	border: 2px solid #C86957;
	color: #C86957;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin-left: 20px;
 }
 .mantel {
 	margin-left: 35px;
 }
 h5.mantel {
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
 }
 p.mantel {
 	margin-top: 20px;
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #999999;
 }
 button.colores{
 	width: 50px;
 	height: 50px;
 	border: transparent;  
 	margin-right: 10px;
 }
 .colores.dorado {
	background-image: url("../assets/productos/manteleria/manteles/BallyGold.png");
 }
 button.colores.plata {
	background-image: url("../assets/productos/manteleria/manteles/BallySilver.png");
 }

/* ********************************  end seccion de fotos  *************************/


@media screen and (max-width:1200px) {
ul.pagination li  {
	display: inline-block;
	/*width: 139px;*/
	width: 108px;
}
.pagination {
	list-style:none;
	display: inline-block;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom: 20%;
	margin-left: -15px;
	margin-bottom: 0px;
	
	}

}

/*------------------------ Ipad o tablet-------------------*/
@media screen and (max-width:1050px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 15px;	
	

 }
 .nav {
 	justify-content: center;
 }

 }
/*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width:992px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
 }
 .nav {
 	justify-content: center;
 }
 
ul.pagination li  {
	display: inline-block;
	/*width: 139px;*/
	width: 108px;
}

.pagination {
	list-style:none;
	display: inline-block;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom: -1%;
	margin-left: -15px;
	margin-bottom: 0px;
	
	}

 .button5 {
	background: #C86957;
	border: 2px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin-bottom: 35px;
	margin-left: -14px;
 }

 }
/*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width:800px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	font-size: 15px;

 }

 }

 /*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width: 767px) {
 .nav {
 	justify-content: center;
 }
 img.logo {
 	justify-content: center;
 }

 .button2 {
	margin-top: 20px;
    margin-bottom: 115px;
    background: transparent !important;
    border: 2px solid white;
    color: white;
    padding: 15px 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 190px;
    height: 52px;
	}

 div.bloque {
	justify-content: flex-start;
 }

 figure.col-xs-9.col-md-2.justify-content-start {
 	    text-align: left;
}

a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 200px;
	padding-left: 200px;

 }
 a.nav-link.active{
 	background: transparent !important;
 	 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }
/**/
 ul.pagination li  {
	display: inline-block;
	/*width: 139px;*/
	width: 127px;
}

.pagination {
	list-style:none;
	display: inline-block;
	max-width: 100%;
	height: auto;
	position: absolute;
	bottom: -1%;
	margin-left: -15px;
	margin-bottom: -430px;
	
	}

	
	.mantel {
		margin-left: -15px;
		margin-top: -20px;
	}
	.descript {
		margin-top: 400px;
	}
	.desc {
		margin-top: -90px;
	}

	.peque{
		margin-top: 420px;
	}

	
 	.titulos {
 	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin-top: 0;
	font-size: 32px; 
 }





 }


 @media screen and (max-width: 747px){
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 200px;
	padding-left: 200px;

 }
 a.nav-link.active{
 	background: transparent !important;
 	 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }
}
/*------------------------ipad mini-------------------*/
@media screen and (max-width: 600px) {
	
  a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 100px;
	padding-left: 100px;

 }
 a.nav-link.active{
 	background: transparent !important;
 	 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }


 }

/*------------------------Celular-------------------*/
@media screen and (max-width: 500px) { 

 .contentSect1 h1 {
	font-size: 30px;
 }
 /* img.burguer {
  	padding-top: 0;
  	padding-right: 0px;
  }*/
 .articulo h5 {
	font-size: 15px;
 }

 .margin-text-top1 { 
	margin-top: 30px;
 }
 div.bloque {
	text-align: center;
 }

 .secciones {
	margin-top: 50px;
	margin-bottom: 65px;
 }

 .encabezados {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin: 25px 0;
	font-size: 36px;
 }
 .button3 {
    margin: 0 0 10px 0;
    background: transparent !important;
    border: 1px solid #C86957;
    color: #C86957;
    padding: 15px 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 60px;
    font-size: 16px;
 }

 img.redesSociales {
 	height: 40px;
 }
 .button1 {
	margin-top: 30px;
	margin: 0 10px;
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 10px 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 250px;
	height: 60px;
	font-size: 17px;
 }

 .button2 {
	margin: 30px 10px 115px 10px;
	background: transparent !important;
	border: 2px solid white;
	color: white;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 250px;
	height: 60px;
	font-size: 17px;
 }


 .letra-movil {
 	font-size: 16px;
 }

 a h6 {
	font-size: 16px;
 }

 ul.nav {
	justify-content: right;
	text-align: center;

 }
 .menuHamburguesa {
	text-align: left;
	justify-content: flex-start;
	z-index: 3;
 }

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-right: 30px;
	padding-left: 30px;

 }

 li.nav-item {
	margin: 10px 50px;
	text-align: center;
	justify-content: center;
 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }

}

@media screen and (max-width: 367px) {
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	
	font-size: 10px;

 }

 li.nav-item {
	margin: 10px 50px;
	text-align: center;
	justify-content: center;
 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }
}

