 body {
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	margin: 0;

 }

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    /*z-index: 10000;*/
    display: none;
    overflow: hidden;
    outline: 0;
}
html {
 overflow-x:hidden;
 }
 img{ 
	max-width: 100%;
	height: auto;
 }
 a {
	color: #565252;
 }

 li {
	list-style: none;
 }

 footer {
	padding: 40px 0;
	color: white;
	background-color: #C86957;
	text-align: center;
 }

 h5 {
 	    margin-left: 31px;
 }

 .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #D1AE9B;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: .5px solid #D1AE9B;
}
 
 .menuHamburguesa {
	text-align: left;
	justify-content: flex-start;
	z-index: 3;
 }


ul.nav {
	background-color: transparent !important ;
}

  .nav {
 	justify-content: flex-end;
 }

 .active {
  color: #C86957;  
 }

 .secciones {
	margin-top: 70px;
	margin-bottom: 70px;
 }

 .encabezados {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 50px 0;
	font-size: 36px;
 }
  .contenedores { 
	margin-bottom: 70px;
 }
 .catalogo {
 	font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 50px 0 50px 0;
    font-size: 36px;
    background-color: #EBEBEB;	
 }

 .button1 {
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
 }

 .button2 {
	margin-bottom: 115px;
	background: transparent !important;
	border: 2px solid white;
	color: white;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
 }

 .button3 {
	margin: 10px 0 10px 0;
	background: transparent !important;
	border: 1px solid #C86957;
	color: #C86957;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 170px;
	height: 52px;
 }

  .button8 {
	margin-top: 30px;
    margin: 0 10px;
    background: #C86957;
    border: 1px solid #C86957;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    width: 44px;
    height: 40px;
    /* font-size: 24px; */
 }
 input.cantidad {
	width: 80px;
    height: 40px;
    border: 1px solid #C86957;
    padding-left: 15px;
 }
 h5.subt {
 	font-family: 'Raleway', sans-serif;
 	margin-left: 0px;
 	

 }
  
 
/****************intro******************/

 .section1 {
	color: white;
	list-style: none;
 }
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-left: 10px;
	padding-right:15px;
 }
 a.nav-link:hover, a.nav-link:focus {
	color: #C86957;
 }



 #intro {
	background: rgba(34, 34, 34, .6) !important;
	z-index: auto !important;
	padding: 0 0 50px 0;
	text-align: center;
 }

 .nav {
	justify-content: flex-end;
 }

 .contentIntro {
	padding: 20px ;
 }
 .contentSect1 {
	margin-top: 100px;
 }

 .contentSect1 h1 {
 /*font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;*/
	font-family: 'Julius Sans One', sans-serif;
	 font-weight: 300;
	 font-size: 60px;
	 letter-spacing: 0.01em;
 }

 .contentSect1 h5 {
	 font-family: 'Raleway', sans-serif;
	 font-weight: 400;
 }
 
 .articulo {
	margin-bottom: 30px;
 }

 .articulo2 {
	margin: 10px 0;
 }


/****************Nosotros******************/
 .video-responsive-contenedor {
    position: relative;
    padding-top: 56.25%;
  }
  .video-responsive-src {
    position: absolute;
    left: 0;  
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .margen-boton {
	margin: 30px 0 30px 0px;
   
}

h5.nosotros {
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0px 0 20px 0;
    color: #565252;
    font-size: 18px;
}

.nosotros-subtitulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0px 0 20px 0;
    color: #565252;
    font-size: 36px;
}


/****************CAROUSEL******************/
 
 a.subtitulo1 h5.margen-catalogo {
	padding: 0 40px 30px 0 ;
	text-align: center;
	display: inline-block;
	margin: 0px 0px;

 }
 
 a.subtitulo1,h5.margen-catalogo:hover , h5.margen-catalogo:focus{
 	text-decoration-line: none;
 	color: #C86957;

 }
   li:focus {
 	background-color: #C86957;

 }

 section.carousel {
 	background-color:#EBEBEB; 
 	padding: 0 0 50px 0;
 }
  /*.owl-theme .owl-nav.disabled+.owl-dots {
     margin-bottom: 50px ;*/
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin-top: -53px;
    z-index: 200;
}
.owl-theme .owl-nav {
    margin-top: -30px;
    color: #ebebeb;
}

 .spacing {
	letter-spacing: 3px;
	color: white;
	font-size: 16px;
	font-weight: 500; 
	text-align: center;
	background: rgba(34, 34, 34, .5) !important;
	position: relative;
	padding: 15px;
	bottom: 150px;
	opacity: 1;
	align-items: center;
 }

 .carousel-item-description {
	position: relative;
	
 }

 .form-control {
	border: 1px solid #C86957;
	border-radius: unset;
 }

 .margin-text-top {
	margin-top: 20px;
	font-weight: 400;
	color: #999999;
 }
 

 .redesSociales {
	margin: 10px 10px 0 0; 
 }
 .espacio {
	letter-spacing: 3px;
 }
 div.bloque {
	text-align: left;
 }

 h5.margen-catalogo {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 20px 0;
	color: #565252;
	font-size: 18px;
 }
 /****************  E V E  N T O S   ******************/
.button7 {
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 15px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 150px;
	height: 52px;
	margin: 10px 5px;

 }


 /****************  P R O D  U C T O S  ******************/

 .productos {
	text-transform: none;
    /*letter-spacing: 1px;
	color: white;
	background: rgba(34, 34, 34, .5) !important;*/
	list-style: none;
	font-size: 13px;
	font-weight: 500; 
	text-align: center;
	/*position: relative;
	bottom: 150px;*/
	
	opacity: 1;
	align-items: center;
	display: list-item;
 } 

 .productos:hover {
 	text-decoration: none;
 	text-decoration-line: none;
 	cursor:pointer;

 } 

 .seleccion {
 	cursor:pointer;
 }

 /* ******************************** Modal Producto  *************************/

.seccionContenido .seccionImagenes{
    float: left;
    width: 100%;
}

.seccionContenido .divImagenGaleria {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.seccionContenido .divImagenGaleria img{
    height: 91px;
    margin-bottom: 20px;
   }

.seccionContenido .divImagenGaleria img:hover, img:active {

    cursor: pointer;
}

.seccionContenido .divImagenMuestra {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 20px; */
    text-align: center;
}

/*------------------------ PRODUCTO------------------------*/
.portfolio-item-description {
 	color: #7C7777;
 	font-size: 14px;
 	text-decoration-line: none;
 	padding: 10px 0 25px 0;
 	list-style: none;
	font-size: 14px;
	font-weight: 500; 
	text-align: center;
	text-transform: none;
	cursor:pointer;
 }


 .portfolio-item, .portfolio-item-description:focus {
 	cursor:pointer;
 	color: #C86957;
}
 
/*------------------------ tablas Modales  producto------------------------*/
.seccionModal {
	margin-top: 20px;
	margin-bottom: 20px;
 }
.tabs.coloress li a {
	text-decoration:none;
	cursor:pointer;
}

/*------------------------ PRODUCTO modal  ------------------------*/

.titulos {
 	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin: 25px 0;
	font-size: 32px; 
 }
 .coloress {
	padding:0 0 0 15px; 
 }
 .button4 {
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	
 }
 .button5 {
	background: #C86957;
	border: 2px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin: 0 10px;
 }
  .button6 {
	margin-bottom: 115px;
	background: transparent !important;
	border: 2px solid #C86957;
	color: #C86957;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin: 0 10px;
 }

 h3.manteles {
 	padding-top: 20px;
 	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 32px; 
 }
p.d {
 	margin: 20px 0;
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #999999;
	padding-bottom: 20px;
 }
 .botones {
	margin-top: 20px;
	text-align: right;
 }
 
 h5.d {
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 20px 0 20px 0;
	color: #565252;
	font-size: 18px;
 }
 h5.c {
 	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 20px 0 20px 0;
	color: #59585B;
	font-size: 26px;
 }
 p.mantel {
 	margin-top: 20px;
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #999999;
 }

 .margen-fotos{
 	margin-bottom: 50px;
 }


 button.colores{
 	width: 50px;
 	height: 50px;
 	border: transparent;  
 	margin-right: 10px;
 }
 .colores.dorado {
	/*background-image: url("../assets/productos/manteleria/manteles/BallyGold.png");*/
	background: #C7AC77;
	width: 40px;
	height: 40px;
 }
 button.colores.plata {
	/*background-image: url("../assets/productos/manteleria/manteles/BallySilver.png");*/
	background: #8a9597;
	width: 40px;
	height: 40px;
 }
 .colores.rosa{
 	background: #8a9597;
 }

 /*------------------------ Mis Productos ------------------------*/
 h6.description{
  	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #6D6969;	
 }
 h6.desc {
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #565252;	
 }
 h5.desc {
 	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #6D6969;	
 }
 .button9 {
    
    background: transparent !important;
    border: 1px solid #C86957;
    color: #6D6969;
    padding: 0 10px; 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 170px;
    height: 39px;
    text-align: left;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}

#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}



/* ********************************  end seccion de fotos  *************************/


@media screen and (max-width:1200px) {
.seccionContenido .divImagenGaleria img{
    height: 75px;
    margin-bottom: 20px;
   }
.titulos {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0px 0;
    font-size: 31px;
}

}
html {
 overflow-x:hidden;
 }

/*------------------------ Ipad o tablet-------------------*/
@media screen and (max-width:1050px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 15px;	
 }
 .nav {
 	justify-content: center;
 }

 }
/*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width:992px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
 }
 .nav {
 	justify-content: center;
 }
 
 .button5 {
	background: #C86957;
	border: 2px solid #C86957;
	color: white;
	padding: 15px ;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 190px;
	height: 52px;
	margin-bottom: 35px;
	margin: 0 10px;
 }
 .seccionContenido .divImagenGaleria img{
    height: 53px;
    margin-bottom: 20px;
   }

  .botones {
	margin-top: 0px;
 }

 h5.desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6D6969;
    margin-left: 31px;
}

p.d {
    margin: 0px 33px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #999999;
    padding-bottom: 20px;
}
 .botones {
 	margin-top: -60px;
 }

 }
/*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width:800px) {

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	font-size: 15px;

 }

 }
 html {
 overflow-x:hidden;
 }

 /*------------------------ Ipad o tablet-------------------*/

 @media screen and (max-width: 767px) {
 .nav {
 	justify-content: center;
 }
 img.logo {
 	justify-content: center;
 }

 .button2 {
	margin-top: 20px;
    margin-bottom: 115px;
    background: transparent !important;
    border: 2px solid white;
    color: white;
    padding: 15px 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 190px;
    height: 52px;
	}

 div.bloque {
	justify-content: flex-start;
 }

 figure.col-xs-9.col-md-2.justify-content-start {
 	    text-align: left;
}

a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 200px;
	padding-left: 200px;

 }


 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }
	.coloress {
    padding: 0 0 20px 0;
    margin-left: 0px;
}
	.mantel {
		margin-left: -15px;
			}
	.descript {
		margin-top: 400px;
		position: relative;
	}
	.desc {
		margin-top: -90px;
	}

	.peque{
		margin-top: 420px;
	}
 
 html {
 overflow-x:hidden;
 }

 .titulos {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0px 0;
    font-size: 31px;
    margin: 20px 0;
}

h5.d {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0px 0 10px 0;
}

h5.e {
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0px 0 10px 27px;
}
h5.desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6D6969;
    margin-top: 64px;
    margin-left: 28px;
}


p.d {
    margin: 0px 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #999999;
    padding-bottom: 20px;
}

.seccionContenido .divImagenGaleria img{
    height: 59px;
    margin-bottom: 20px;
   }

 }

 @media screen and (max-width: 747px){
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 200px;
	padding-left: 200px;

 }
 a.nav-link.active{
 	background: transparent !important;
 	 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }


}

 /*------------------------650-------------------*/
 @media screen and (max-width: 650px) {
 	 .secciones2 {
    margin-left: 20px;
}
 }
/*------------------------600-------------------*/
@media screen and (max-width: 600px) {
	
  a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: center;	
	padding-right: 100px;
	padding-left: 100px;

 }
 a.nav-link.active{
 	background: transparent !important;
 	 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }



 }



 /*------------------------Celular-------------------*/
@media screen and (max-width: 542px) { 
	
}
html {
 overflow-x:hidden;
 }

	.mantel {
		margin-left: -15px;
		margin-top: -20px;
	}
	.descript {
		margin-top: 455px;
	}
	.desc {
		margin-top: -90px;
	}

	.peque{
		margin-top: 420px;
	}


}

/*------------------------Celular-------------------*/
@media screen and (max-width: 500px) { 

 .contentSect1 h1 {
	font-size: 30px;
 }
 /* img.burguer {
  	padding-top: 0;
  	padding-right: 0px;
  }*/
 .articulo h5 {
	font-size: 15px;
 }

 .margin-text-top1 { 
	margin-top: 30px;
 }
 div.bloque {
	text-align: center;
 }

 .secciones {
	margin-top: 50px;
	margin-bottom: 65px;
 }

 .encabezados {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin: 25px 0;
	font-size: 36px;
 }
 .button3 {
    margin: 0 0 10px 0;
    background: transparent !important;
    border: 1px solid #C86957;
    color: #C86957;
    padding: 15px 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 60px;
    font-size: 16px;
 }

 img.redesSociales {
 	height: 40px;
 }
 .button1 {
	margin-top: 30px;
	margin: 0 10px;
	background: #C86957;
	border: 1px solid #C86957;
	color: white;
	padding: 10px 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 250px;
	height: 60px;
	font-size: 17px;
 }

 .button2 {
	margin: 30px 10px 115px 10px;
	background: transparent !important;
	border: 2px solid white;
	color: white;
	padding: 15px 38px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width: 250px;
	height: 60px;
	font-size: 17px;
 }


 .letra-movil {
 	font-size: 16px;
 }

 a h6 {
	font-size: 16px;
 }

 ul.nav {
	justify-content: right;
	text-align: center;

 }
 .menuHamburguesa {
	text-align: left;
	justify-content: flex-start;
	z-index: 3;
 }

 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-right: 30px;
	padding-left: 30px;

 }
 a:focus{
    color: #c86957;
    text-decoration: underline;
}
button:focus {
	 color: #c86957;
}

 li.nav-item {
	margin: 10px 50px;
	text-align: center;
	justify-content: center;
 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }
}

@media screen and (max-width: 499px) {
 .seccionContenido .divImagenGaleria img {
    height: 45px;
    margin-bottom: 20px;
}
.button5 {
    background: #C86957;
    border: 2px solid #C86957;
    color: white;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 170px;
    height: 52px;
    margin-bottom: 20px;
    
}
.button6 {
    
    background: transparent !important;
    border: 2px solid #C86957;
    color: #C86957;
    padding: 15px 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 170px;
    height: 52px;
    
}

 .botones {
	text-align: center;
 }


.button9 {
    margin: 16px 0 10px 0;
    background: transparent !important;
    border: 1px solid #C86957;
    color: #6D6969;
    padding: 0 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 170px;
    height: 39px;
    text-align: left;
    height: 50px;
}
}
@media screen and (max-width: 375px) {
 .seccionContenido .divImagenGaleria img {
    height: 42px;
    margin-bottom: 20px;
}

}

@media screen and (max-width: 367px) {
 a.nav-link {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 10px;

 }
 input.cantidad {
    width: 85px;
    height: 45px;
    border: 1px solid #C86957;
    padding-left: 15px;
}

 li.nav-item {
	margin: 10px 50px;
	text-align: center;
	justify-content: center;
 }

 .nav {
	justify-content: flex-center;
	background: rgba(34, 34, 34, .5) !important;
 }

 .seccionContenido .divImagenGaleria img {
    height: 40px;
    margin-bottom: 20px;
}

input.cantidad {
    width: 65px;
    height: 40px;
    border: 1px solid #C86957;
    padding-left: 6px;
}
.button8 {
    margin-top: 30px;
    margin: 0 10px;
    background: #C86957;
    border: 1px solid #C86957;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    width: 40px;
    height: 40px;
    /* font-size: 24px; */
}
h6.description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6D6969;
    font-size: 14px;
}
}

@media screen and (max-width: 347px) {
.seccionContenido .divImagenGaleria img {
    height: 33px;
    margin-bottom: 20px;
}
}






